<h3 mat-dialog-title>{{tituloDialog}}</h3>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="catalogoFormGroup">

        <div style="display: block; visibility: hidden; height: 0; width: 0;">
            <mat-form-field>
                <mat-label>CatalogoId</mat-label>
                <input matInput formControlName="catalogoId">
            </mat-form-field>
        </div>

        <div style="display: block; visibility: hidden; height: 0; width: 0;">
            <mat-form-field>
                <mat-label>GrupoId</mat-label>
                <input matInput formControlName="grupoId">
            </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-6">
            <mat-form-field>
                <mat-label>Código</mat-label>
                <input matInput formControlName="codigo" required>
                <mat-error *ngIf="catalogoFormGroup.get('codigo').errors?.required">Campo obligatorio</mat-error>
            </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-6">
            <mat-form-field>
                <mat-label>Valor</mat-label>
                <input matInput formControlName="valor" required>
                <mat-error *ngIf="catalogoFormGroup.get('valor').errors?.required">Campo obligatorio</mat-error>
            </mat-form-field>
        </div>


    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">
        <mat-icon>not_interested</mat-icon> Cancelar
    </button>

    <button mat-raised-button color="primary" [disabled]="!catalogoFormGroup.valid" (click)="guardaItem()">
        <mat-icon>save</mat-icon> Guardar
    </button>
</mat-dialog-actions>