.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

.celdaIndiviual {
    width: 80%;
}

.celdaCombinada {
    width: 90%;
}

.tituloRiesgo {
    /* font-weight: bold; */
    font-size: medium;
}

.cardRI {
    text-align: center;
    font-weight: bold;
    background-color: rgba(245, 39, 22, 0.6);
}

.cardRR {
    text-align: center;
    font-weight: bold;
    background-color: rgba(87, 190, 6, 0.6);
}

.controlSection {
    /* margin-top: 20px; */
    padding-bottom: 20px;
}